@import './../../sass/_variables.scss';
@import './../../sass/_flex.scss';
@import './../../sass/_shared.scss';
@import './../../sass/_buttons.scss';

.course {
  width: 190px;
  border-radius:8px;
  height: 100px;
  padding-top:15px;
  padding-left:15px;
  padding-right:15px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  flex-direction:column;
  box-sizing: border-box;
  border: 1px solid rgba(54, 93, 118, 0.12);
  box-shadow: 0 10px 18px rgba(43, 88, 113, 0.12);
  transition: transform 0.18s ease, box-shadow 0.18s ease, border-color 0.18s ease;
}

@media (min-width: 416px) {
  .course:hover {
    transform: translateY(-1px);
    border-color: rgba(42, 124, 178, 0.4);
    box-shadow: 0 12px 24px rgba(43, 88, 113, 0.18);
  }
}

@media (max-width: 415px) {
  .course {
      width: 47vw;
   }
   .course-shake {
    width: 47vw;
    border-radius:5px;
    height: 100px;
    padding-top:15px;
    padding-left:15px;
    padding-right:15px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    flex-direction:column;
    box-sizing: border-box;
    animation: shake 1.0s;
    animation-iteration-count: infinite;
    .cross {
      display: block;
    }
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media (min-width: 380px) {
.course:hover .cross {
  display: block;
}
}

.cross {
  display:none;
}

.course--draggable {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  // -webkit-touch-callout: none; /* iOS Safari */
  // -webkit-user-select: none; /* Safari */
  //  -khtml-user-select: none; /* Konqueror HTML */
  //    -moz-user-select: none; /* Old versions of Firefox */
  //     -ms-user-select: none; /* Internet Explorer/Edge */
  //         user-select: none; 
  //         -webkit-touch-callout: none;
  //         -webkit-user-callout: none;
  //         -webkit-user-select: none;
  //         -webkit-user-drag: none;
  //         -webkit-user-modify: none;
  //         -webkit-highlight: none;
}
.course--large {
  width: 150px;
  height: 100px;
}
.course--error {
  border: 3px solid #e74c3c;
  box-shadow: 0 10px 18px rgba(231, 76, 60, 0.2);
}
.course-text {
  font-weight: normal;
  font-size: 15px;
  z-index: 1;
} 

.course-name {
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.01em;
  z-index: 1;
  color: #0c2538;
  width: 75%;
  display: inline-block;
}
.course-title {
  font-size: 11px;
  line-height: 1.4;
  z-index: 1;
  color: #173b54;
  opacity: 0.95;
}

.dragging {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.display-grade {
  z-index: 1;
  color: #173b54;
  width: 25%;
  display: inline-block;
  font-weight: 700;
}

.course-draggable-content {
  width: 100%;

}

@media (max-width: 415px) {
.handle {
  background: url("./../../assets/img/draggable-dots.svg");
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: contain;
  width: 38px;
  height: 38px;
  margin-left: -22px;
  float: left;
  touch-action: none;
  }
}
