<div data-custom-class="body">
    <ol>
        <li>
            <h2>What information do we collect about you?</h2>
            <p>
                We may collect personal information from you. This may include:
            </p>
            <ol type="a">
                <li>User profile: We collect information when you apply for registration to use our platform and services. This may include your name, email, phone number, address, banking information (including related payment verification information), community service card number.</li>
                <li>Demographic data: We may collect demographic information about you.</li>
                <li>User content: We may collect information that you submit when using the platform and the services.</li>
            </ol>
            <p>
                Providing personal information is optional, but if you choose not to enter personal information, we may be unable to accept your application to register to use our platform and services.
            </p>
        </li>
        <li>
            <h2>How do we collect this information?</h2>
            <p>
                Personal information is collected by us through four methods.
            </p>
            <ol type="a">
                <li>Completing and submitting the online registration process.</li>
                <li>Completing and submitting user content.</li>
                <li>Emailing us from email addresses found on our platform.</li>
                <li>Calling us from numbers found on our platform.</li>
            </ol>
        </li>
        <li>
            <h2>Why do we collect this information?</h2>
            <p>
                We collect your personal information to provide, personalise, maintain and improve the platform and services, including to:
            </p>
            <ol type="a">
                <li>Create and update your user registration.</li>
                <li>Verify your identity.</li>
                <li>To ensure that content from our site is presented in the most effective manner for you and for your computer.</li>
                <li>To provide the services to you.</li>
                <li>To carry out our obligations arising from any contracts entered into between you and us.</li>
            </ol>
        </li>
        <li>
            <h2>Who do we share your information with and why?</h2>
            <p>
                We will not share your information with third parties except:
            </p>
            <ol type="a">
                <li>as required by law,</li>
                <li>as necessary to protect our interests,</li>
            </ol>
            <p>
                with service providers acting on our behalf who have agreed in writing to protect the confidentiality of the data, or in instances that you permit or in accordance with your consent.
            </p>
            <p>
                We have contracted with third parties that have met industry-standards for security to take in necessary data, to store, transmit and process this transaction securely.
            </p>
            <p>
                We’ll never sell your personal information to another organisation for marketing or advertising purposes.
            </p>
        </li>
        <li>
            <h2>How do we keep your data secure?</h2>
            <ol type="a">
                <li>We take appropriate steps to maintain your personal information in a secure environment to prevent unauthorised use. Our data processors are bound by contract to do the same.</li>
                <li>Only our staff can access this data through password encrypted logins for each service.</li>
                <li>Any data breaches will be reported to the authorities within 72 hours of us finding out.</li>
            </ol>